---
import { getCollection, type CollectionEntry } from "astro:content"
import AllTags from "../../components/AllTags.astro"
import MainContainer from "../../components/MainContainer.astro"
import PostCard from "../../components/PostCard.astro"
import BaseLayout from "../../layouts/BaseLayout.astro"

const allPosts = await getCollection("posts")
const sortedPosts = allPosts.sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
// const firstPost = sortedPosts.shift()

const yearToPosts = sortedPosts.reduce(
  (
    acc: Record<number, CollectionEntry<"posts">[]>,
    post: CollectionEntry<"posts">,
  ) => {
    const year = new Date(post.data.pubDate).getFullYear()
    if (!acc[year]) {
      acc[year] = []
    }
    acc[year].push(post)
    return acc
  },
  {},
) as Record<number, CollectionEntry<"posts">[]>
const pageTitle = "Posts"
---

<BaseLayout
  pageTitle={pageTitle}
  description="Longer form articles that aim to explore topics in more depth, but which are published less frequently."
>
  <MainContainer>
    <div class="w-full flex justify-center mb-8 font-bold">
      <a
        class="px-3 p-2 text- border-b-[1px] border-l-[1px] border-r-[1px] border-[hsl(var(--muted))]"
        href="/rss.xml"
      >
        Subscribe to RSS
      </a>
    </div>

    <AllTags title="Filter by tag" />
    <!-- {firstPost && <LatestPostCard post={firstPost} />} -->

    {
      Object.entries(yearToPosts)
        .sort((a, b) => Number(b[0]) - Number(a[0]))
        .map(([year, posts]) => (
          <>
            <h2 class="text-2xl mb-4 border-b-2 mt-8 pb-2">
              {year} ({posts.length})
            </h2>
            <div class="grid gap-4">
              {posts.map((post) => (
                <PostCard post={post} />
              ))}
            </div>
          </>
        ))
    }
  </MainContainer>
</BaseLayout>
