---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  fullName: "Bhekani Khumalo",
  city: "London",
  occupation: "Senior Software Engineer",
  hobbies: ["writing", "reading", "gaming"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;
const skillColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.fullName}.</li>
    <li>
      I live in {identity.city} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
</BaseLayout>
