---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Case from "case";
import { format } from "date-fns";
import Link from "../components/Link.astro";
import BookRating from "./BookRating.astro";
import TagsList from "./TagsList.astro";

type Props = {
  book: CollectionEntry<"books">;
};

const {
  book: {
    data: { ISBN, tags, dateAdded, myRating, author },
    slug,
  },
} = Astro.props;
---

<div transition:name={`card-${slug}`}>
  <p class="my-4">
    <Link
      transition:name={`back-${slug}`}
      class="text-sm hover:text-[hsl(var(--muted-foreground))]"
      href="/books/"
    >
      ← All books
    </Link>
  </p>

  <div class="flex gap-4">
    <div
      class="cover mb-8 w-[180px] h-[265.48px] overflow-hidden bg-[hsl(var(--muted))]"
    >
      <Image
        transition:name={`image-${slug}`}
        class="w-full object-cover h-full"
        src={`https://covers.openlibrary.org/b/isbn/${ISBN}-M.jpg`}
        width="180"
        height="265.48"
        alt={`Cover of {frontmatter.title}`}
      />
    </div>

    <div class="">
      <TagsList tags={tags} />
      <p class="m-0">Author: {Case.upper(author)}</p>
      <p class="m-0">ISBN: {ISBN}</p>

      <time
        transition:name={`date-${slug}`}
        class="text-lg mb-2 mt-2 block"
        datetime={new Date(dateAdded).toDateString()}
      >
        Added: {format(new Date(dateAdded), "MMMM dd, yyyy")}
      </time>
      <BookRating rating={myRating} />

      <br />
      <Link href={`https://openlibrary.org/isbn/${ISBN}`} target="_blank">
        View in OpenLibrary
      </Link>
    </div>
  </div>
</div>

<style>
  .cover {
    position: relative;
  }
  .cover::before {
    content: "No Cover";
    /* display: block; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: hsl(var(--muted-foreground));
  }
</style>
