---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import BookRating from "./BookRating.astro";
import TagsList from "./TagsList.astro";

type Props = {
  book: CollectionEntry<"books">;
};

const {
  book: {
    slug,
    data: { tags, title, dateAdded: date, myRating, author },
  },
} = Astro.props;
---

<div class="card">
  <div class="content p-4">
    <div class="title">
      <a href={`/books/${slug}/`} class="h-fit">
        <h1 class="text-xl">{title}</h1>
      </a>

      <p class="mb-0 italic">by: {author}</p>
      <TagsList tags={tags} />
    </div>

    <div class="rating">
      <BookRating rating={myRating} />

      <time class="text-lg" datetime={new Date(date).toISOString()}>
        Added: {format(new Date(date), "MMMM dd, yyyy")}
      </time>
    </div>
  </div>
</div>

<style>
  .card {
    color: hsl(var(--card-foreground));
    background-color: hsl(var(--card));
  }

  .card:hover {
    background-color: hsl(var(--muted));
  }

  @media screen and (min-width: 768px) {
    .content {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      width: 100%;
    }
    .title {
      flex: 1;
    }
    .rating {
      text-align: left;
    }
  }
</style>
