---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import Link from "../components/Link.astro";
import BookRating from "./BookRating.astro";
import TagsList from "./TagsList.astro";

type Props = {
  book: CollectionEntry<"books">;
};

const {
  book: {
    data: { ISBN, tags, dateAdded, myRating, author },
  },
} = Astro.props;
---

<div>
  <p class="my-4">
    <Link class="hover:text-[hsl(var(--muted-foreground))]" href="/books/">
      ← All books
    </Link>
  </p>

  <div class="flex gap-4">
    <div
      class="cover mb-8 w-[180px] h-[265.48px] overflow-hidden bg-[hsl(var(--muted))]"
    >
      <Image
        class="w-full object-cover h-full z-10"
        src={`https://covers.openlibrary.org/b/isbn/${ISBN}-M.jpg`}
        srcset={`
          https://covers.openlibrary.org/b/isbn/${ISBN}-S.jpg 180w,
          https://covers.openlibrary.org/b/isbn/${ISBN}-M.jpg 360w,
        `}
        width="180"
        height="265.48"
        alt={`Cover of {frontmatter.title}`}
      />
    </div>

    <div class="">
      <TagsList tags={tags} />
      <p class="m-0">Author: <strong>{author}</strong></p>
      <p class="m-0">ISBN: <strong>{ISBN}</strong></p>

      <time
        class="text-lg mb-2 mt-2 block"
        datetime={new Date(dateAdded).toDateString()}
      >
        Added: <strong>{format(new Date(dateAdded), "MMMM dd, yyyy")}</strong>
      </time>
      <BookRating rating={myRating} />

      <br />
      <Link href={`https://openlibrary.org/isbn/${ISBN}`} target="_blank">
        View in OpenLibrary
      </Link>
    </div>
  </div>
</div>

<style>
  .cover {
    position: relative;
    background-image: url("https://source.unsplash.com/random/?landscape");
  }
</style>
