---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import TagsList from "./TagsList.astro";

type Props = {
  book: CollectionEntry<"books">;
};

const {
  book: {
    data: { tags, title, dateAdded: date },
    slug,
  },
} = Astro.props;
---

<div class="card mb-8 items-center">
  <div class="content p-10">
    <a href={`/books/${slug}/`} class="h-fit">
      <h1 transition:name={`title-${slug}`} class="text-xl mb-2 text-center">
        {title}
      </h1>
    </a>

    <TagsList tags={tags} />
    <p
      transition:name={`date-${slug}`}
      class="text-sm text-[hsl(var(--muted-foreground))]"
    >
      {format(new Date(date), "MMMM dd, yyyy")}
    </p>
  </div>
</div>

<style>
  .card {
    display: grid;
    grid-template: "content image" / 3fr 1fr;
    color: hsl(var(--card-foreground));
    background-color: hsl(var(--muted));
  }

  .card:has(.image) {
    grid-template:
      "image" 1fr
      "content" 4fr;
  }
  .card:has(.image) {
    grid-template: "image content" / 1fr 1fr;
  }
  .card:not(:has(.image)) {
    grid-template: "content" / 1fr;
  }
  .content {
    grid-area: content;
    display: grid;
    grid-template:
      "title" auto-fit
      "description" 1fr
      "date" auto-fit
      "tags" auto-fit;
    place-items: center;
  }
  @media screen and (min-width: 768px) {
    .card:has(.image) {
      grid-template: "image content" / 1fr 1fr;
    }
  }
  .image {
    grid-area: image;
  }
  a {
    color: hsl(var(--card-foreground));
  }
  a:hover {
    background-color: transparent;
  }
</style>
