---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import { format } from "date-fns"
import TagsList from "./TagsList.astro"
import ThoughtDescription from "./ThoughtDescription.astro"

type Props = {
  thought: CollectionEntry<"thoughts">
}

const {
  thought: {
    data: { image, tags, title, description, pubDate: date },
    slug,
  },
} = Astro.props

const { views } = await fetch(
  `${Astro.url}/api/thoughts/views/inc?slug=${slug}`,
  {
    headers: {
      "Content-Type": "application/json",
    },
  },
).then((res) => res.json())
---

<div class="card mb-8 items-center">
  <div class="content p-10">
    <a href={`/thoughts/${slug}/`} class="h-fit">
      <h1 transition:name={`title-${slug}`} class="text-xl mb-2 text-center">
        {title}
      </h1>
    </a>

    <ThoughtDescription description={description} />
    <TagsList tags={tags} />
    <p
      transition:name={`date-${slug}`}
      class="text-sm text-[hsl(var(--muted-foreground))]"
    >
      {format(date, "MMMM dd, yyyy")}
    </p>
    <p class="text-sm text-[hsl(var(--muted-foreground))]">
      {`${views} view${views === 1 ? "" : "s"}`}
    </p>
  </div>

  {
    image && (
      <div class="image h-full overflow-hidden">
        <Image
          transition:name={`image-${slug}`}
          class="object-cover h-full"
          src={image}
          width="1000"
          height="10800"
          alt=""
        />
      </div>
    )
  }
</div>

<style>
  .card {
    display: grid;
    grid-template: "content image" / 3fr 1fr;
    color: hsl(var(--card-foreground));
    background-color: hsl(var(--muted));
  }

  .card:has(.image) {
    grid-template:
      "image" 1fr
      "content" 4fr;
  }
  .card:has(.image) {
    grid-template: "image content" / 1fr 1fr;
  }
  .card:not(:has(.image)) {
    grid-template: "content" / 1fr;
  }
  .content {
    grid-area: content;
    display: grid;
    grid-template:
      "title" auto-fit
      "description" 1fr
      "date" auto-fit
      "tags" auto-fit;
    place-items: center;
  }
  @media screen and (min-width: 768px) {
    .card:has(.image) {
      grid-template: "image content" / 1fr 1fr;
    }
  }
  .image {
    grid-area: image;
  }
  a {
    color: hsl(var(--card-foreground));
  }
  a:hover {
    background-color: transparent;
  }
</style>
