---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import Link from "./Link.astro";
import Tag from "./Tag.astro";
import ThoughtDescription from "./ThoughtDescription.astro";

type Props = {
  thought: CollectionEntry<"thoughts">;
};

const { thought } = Astro.props;

const url = `/thoughts/${thought.slug}/`;
const title = thought.data.title;
const date = thought.data.pubDate;
const tags = thought.data.tags;
---

<li>
  <div>
    <Link href={url}>
      {title}
    </Link>

    <time
      class="ml-2 text-sm whitespace-nowrap text-[hsl(var(--muted-foreground))]"
      >{format(date, "MMMM dd, yyyy")}
    </time>
  </div>

  <ThoughtDescription description={title} slug={thought.slug} />

  <div class="flex flex-wrap gap-4">
    {tags.map((tag: string) => <Tag tag={tag} />)}
  </div>
</li>
