---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import { format } from "date-fns"
import TagsList from "./TagsList.astro"
import ThoughtDescription from "./ThoughtDescription.astro"

type Props = {
  thought: CollectionEntry<"thoughts">
}

const {
  thought: {
    slug,
    data: { tags, title, image, pubDate: date },
  },
} = Astro.props

const res = await fetch(`${Astro.url.origin}/api/thoughts/views?slug=${slug}`, {
  headers: {
    "Content-Type": "application/json",
  },
})

let views = 0
if (res.ok) {
  ;({ views } = await res.json())
} else {
  console.error("Error:", await res.text())
}
---

<div transition:name={`card-${slug}`} class="card grid gap-2 items-center">
  <div class="content p-4">
    <a href={`/thoughts/${slug}/`} class="h-fit">
      <h1 transition:name={`title-${slug}`} class="text-xl mb-2">{title}</h1>
    </a>
    <div class="flex gap-2">
      <time
        transition:name={`date-${slug}`}
        class="text-sm text-[hsl(var(--muted-foreground))]"
        datetime={date.toISOString()}
      >
        {format(date, "MMMM dd, yyyy")}
      </time>
      &middot;
      <p class="text-sm text-[hsl(var(--muted-foreground))]">
        {`${views} view${views === 1 ? "" : "s"}`}
      </p>
    </div>
    <ThoughtDescription description={title} slug={slug} />
    <TagsList tags={tags} />
  </div>

  {
    image && (
      <div class="image h-full overflow-hidden">
        <Image
          transition:name={`image-${slug}`}
          class="object-cover h-full"
          src={image}
          width="300"
          height="300"
          alt=""
        />
      </div>
    )
  }
</div>

<style>
  .card {
    display: grid;
    grid-template: "content image" / 3fr 1fr;
    color: hsl(var(--card-foreground));
    background-color: hsl(var(--card));
  }

  .card:hover {
    background-color: hsl(var(--muted));
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template:
      "title" auto-fit
      "description" 1fr
      "date" auto-fit
      "tags" auto-fit;
  }
  .image {
    grid-area: image;
  }
  a {
    color: hsl(var(--card-foreground));
  }
  a:hover {
    background-color: transparent;
  }
</style>
