---
import type { CollectionEntry } from "astro:content"
import BookHeader from "../components/BookHeader.astro"
import Giscuss from "../components/Giscuss.astro"
import MainContainer from "../components/MainContainer.astro"
import RelatedBooks from "../components/RelatedBooks.astro"
import WebMentions from "../components/WebMentions.astro"
import BaseLayout from "./BaseLayout.astro"

type Props = {
  book: CollectionEntry<"books">
}

const {
  book: { data: frontmatter },
  book,
} = Astro.props
---

<BaseLayout title={frontmatter.title} pageTitle={frontmatter.title}>
  <MainContainer>
    <article class="mx-auto max-w-4xl">
      <BookHeader book={book} slug={book.slug} />

      <div class="prose prose-lg dark:prose-invert mx-auto max-w-none">
        <slot />
      </div>

      <hr class="my-12 border-t border-[hsl(var(--border))]" />

      <div class="space-y-12">
        <WebMentions />
        <Giscuss />
        <RelatedBooks slug={book.slug} tags={frontmatter.tags} />
      </div>
    </article>
  </MainContainer>
</BaseLayout>
