---
import { Image } from "astro:assets";
import Case from "case";
import { format } from "date-fns";
import RelatedPosts from "../components/RelatedPosts.astro";
import BaseLayout from "./BaseLayout.astro";
const {
  post: { data: frontmatter, slug },
  post,
} = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div transition:name={`card-${slug}`}>
    {
      frontmatter.image && (
        <div class="w-full mb-8 h-56 overflow-hidden">
          <Image
            transition:name={`image-${slug}`}
            class="w-full object-cover h-full"
            src={frontmatter.image}
            width="1200"
            height="300"
            alt=""
          />
        </div>
      )
    }
    <p>
      <a
        transition:name={`back-${slug}`}
        class="text-sm hover:text-[hsl(var(--muted-foreground))]"
        href="/blog"
      >
        ← All Posts
      </a>
    </p>

    <h1 transition:name={`title-${slug}`} class="text-3xl mb-4 mt-2 title">
      {frontmatter.title}
    </h1>
    <p
      transition:name={`description-${slug}`}
      class="mb-4 text-[hsl(var(--muted-foreground))]"
    >
      <em>{frontmatter.description}</em>
    </p>
    <div>
      <p class="text-xs">{Case.upper(frontmatter.author)}</p>
      <p
        transition:name={`date-${slug}`}
        class="mb-4 text-sm text-[hsl(var(--muted-foreground))]"
      >
        {format(frontmatter.pubDate, "MMMM dd, yyyy")}
      </p>
    </div>
    <div class="flex flex-wrap gap-4 mb-8">
      {
        frontmatter.tags.map((tag: string) => (
          <a
            class="text-sm hover:text-[hsl(var(--muted-foreground))]"
            href={`/tags/${tag}`}
          >
            #{tag}
          </a>
        ))
      }
    </div>
  </div>

  <slot />

  <hr class="my-8" />
  <RelatedPosts slug={post.slug} frontmatter={frontmatter} />
</BaseLayout>

<style>
  h1::before {
    content: "# ";
    color: hsl(var(--muted));
  }

  h1:hover::before {
    color: hsl(var(--foreground));
  }

  h2::before {
    content: "## ";
    color: hsl(var(--muted));
  }

  h2:hover::before {
    color: hsl(var(--foreground));
  }

  h3::before {
    content: "### ";
    color: hsl(var(--muted));
  }

  h3:hover::before {
    color: hsl(var(--foreground));
  }

  h4::before {
    content: "#### ";
    color: hsl(var(--muted));
  }

  h4:hover::before {
    color: hsl(var(--foreground));
  }

  h5::before {
    content: "##### ";
    color: hsl(var(--muted));
  }

  h5:hover::before {
    color: hsl(var(--foreground));
  }

  h6::before {
    content: "###### ";
    color: hsl(var(--muted));
  }

  h6:hover::before {
    color: hsl(var(--foreground));
  }

  .title:before {
    content: "";
  }
</style>
