---
import type { CollectionEntry } from "astro:content"
import Giscuss from "../components/Giscuss.astro"
import PostHeader from "../components/PostHeader.astro"
import PostMainContainer from "../components/PostMainContainer.astro"
import RelatedPosts from "../components/RelatedPosts.astro"
import TableOfContents from "../components/TableOfContents.astro"
import WebMentions from "../components/WebMentions.astro"
import BaseLayout from "./BaseLayout.astro"

type Props = {
  post: CollectionEntry<"posts">
}

const {
  post: { data: frontmatter },
  post,
} = Astro.props

const { headings } = await post.render()
---

<BaseLayout
  description={frontmatter.description}
  title={frontmatter.title}
  imageUrl={frontmatter.image?.src}
  pageTitle={frontmatter.title}
>
  <PostMainContainer>
    <div class="w-full flex justify-center mb-8 font-bold">
      <a
        class="px-3 p-2 text-[hsl(var(--foreground))] border-b-[1px] border-l-[1px] border-r-[1px] border-[hsl(var(--muted))]"
        href="/rss.xml"
      >
        Subscribe to RSS
      </a>
    </div>

    <PostHeader post={post} />

    <div class="article-area gap-8">
      <TableOfContents headings={headings} />
      <div
        class="article max-w-[80ch] border-r pr-8 border-[hsl(var(--muted))]"
      >
        <slot />
      </div>
    </div>

    <WebMentions />

    <Giscuss />

    <hr class="my-8" />

    <RelatedPosts slug={post.slug} frontmatter={frontmatter} />
  </PostMainContainer>
</BaseLayout>

<style>
  .article-area {
    display: grid;
    grid-template: "article toc" / 80ch 1fr;
  }

  .article {
    grid-area: article;
  }

  .toc {
    grid-area: toc;
  }

  @media screen and (max-width: 768px) {
    .article-area {
      grid-template:
        "toc"
        "article";
    }
  }
</style>
