---
import { Image } from "astro:assets";
import Case from "case";
import { format } from "date-fns";
import RelatedPosts from "../components/RelatedPosts.astro";
import BaseLayout from "./BaseLayout.astro";
const {
  post: { data: frontmatter },
  post,
} = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  {
    frontmatter.image && (
      <div class="w-full border">
        <Image
          class="object-contain"
          src={frontmatter.image}
          width="300"
          height="300"
          alt=""
        />
      </div>
    )
  }
  <h1 class="text-3xl mb-4 mt-2">{frontmatter.title}</h1>
  <p class="mb-4 text-[hsl(var(--muted-foreground))]">
    <em>{frontmatter.description}</em>
  </p>
  <div>
    <p class="text-xs">{Case.upper(frontmatter.author)}</p>
    <p class="mb-4 text-sm text-[hsl(var(--muted-foreground))]">
      {format(frontmatter.pubDate, "MMMM dd, yyyy")}
    </p>
  </div>
  <div class="flex flex-wrap gap-4 mb-8">
    {
      frontmatter.tags.map((tag: string) => (
        <a
          class="text-sm hover:text-[hsl(var(--muted-foreground))]"
          href={`/tags/${tag}`}
        >
          #{tag}
        </a>
      ))
    }
  </div>

  <slot />

  <RelatedPosts slug={post.slug} frontmatter={frontmatter} />
</BaseLayout>
