---
import type { CollectionEntry } from "astro:content";
import Giscuss from "../components/Giscuss.astro";
import MainContainer from "../components/MainContainer.astro";
import RelatedThoughts from "../components/RelatedThoughts.astro";
import ThoughtHeader from "../components/ThoughtHeader.astro";
import WebMentions from "../components/WebMentions.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  thought: CollectionEntry<"thoughts">;
};

const {
  thought: { data: frontmatter },
  thought,
} = Astro.props;
---

<BaseLayout
  description={frontmatter.description}
  title={frontmatter.title}
  imageUrl={frontmatter.image?.src}
  pageTitle={frontmatter.title}
>
  <MainContainer>
    <div class="w-full flex justify-center mb-8 font-bold">
      <a
        class="px-3 p-2 text-[hsl(var(--foreground))] border-b-[1px] border-l-[1px] border-r-[1px] border-[hsl(var(--muted))]"
        href="/rss.xml"
      >
        Subscribe to RSS
      </a>
    </div>

    <ThoughtHeader thought={thought} />

    <slot />

    <WebMentions />

    <Giscuss />

    <hr class="my-8" />

    <RelatedThoughts slug={thought.slug} frontmatter={frontmatter} />
  </MainContainer>
</BaseLayout>
